body {
    font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
}
.properties {
    display: flex;
    min-width: 310px;
    width: 90vw;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.property {
    display: flex;
    min-width:  310px;
    width: 30vw;
    margin-bottom: 1.5rem;
}

.propertImageHolder {
    width: 30%;
}

.propertyImage {
    object-fit: cover;
    width: 100%;
}

.propertyDetails {
    padding-right: 2rem;
    margin-top: 0;
    list-style: none;
    margin-left: .5rem;
    padding-left: 0;

    .key {
        padding-right: .5rem;
        font-size: 1.25rem;
        font-variant: small-caps; 
    }
}
.message-error {
    color: #fff;
    background-color: #ff0000;
    font-weight: 800;
}
.closeMessageHeader {
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
}
.closeMessage {
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.messageBody {
    margin-left: 2rem;
    padding-bottom: 2rem;
}